:root {
    --color-brand: #819b57;
    --color-primary-ligth: #faf4ea;
    --color-primary-dark: #31261a;
    --color-brand-dark: #465929;
}

/* BASE */

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    color: var(--color-primary-dark);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

address {
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

.contact-title {
    margin-bottom: 16px;
}
/* buttons */
.button {
    color: var(--color-primary-ligth);
    background-color: var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}

.button:focus {
    color: var(--color-brand-dark);
    background-color: transparent;
}

/* link */
.link {
    color: var(--color-primary-ligth);
    text-decoration: none;
    line-height: 1.5;
}

.link:hover {
    color: var(--color-brand);
    font-weight: 600;
}

/* hero */

.hero-section {
    padding: 272px 0;
}

.hero-title {
    margin-bottom: 0;
    color: var(--color-primary-ligth);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}

.hero-title .accent {
    color: var(--color-brand);
}

/* advantages */
.advantages-list {
    color: var(--color-primary-ligth);
    background-color: var(--color-brand);
}

.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title .accent {
    color: var(--color-brand-dark);
}

.tradition-text .brand {
    color: var(--color-brand);
    font-weight: 600;
}

.tradition-text .uppercase {
    text-transform: uppercase;
}

.traditions-section {
    padding-top: 96px;
}

.tradition-title {
    margin-bottom: 42px;
}

.advantages-item {
    font-size: 20px;
    font-weight: 300;
}

.format-title {
    margin-bottom: 16px;
}

/* chef sectio */
.chef-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}

.chefs-title {
    margin-bottom: 80px;
}

/* formats section */
.format-title {
    font-size: 24px;
    font-weight: 600;
}

.format-text {
    font-size: 14px;
    font-weight: 300;
}
/* 'footer' */
.adress-link {
    color: var(--color-primary-ligth);
    font-size: 16px;
    font-weight: 300;
}

.adress-link:hover {
    color: var(--color-brand-dark);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.dress-copyright {
    font-size: 14px;
}
