:root {
    --color-brand: #819b57;
    --color-primary-ligth: #faf4ea;
    --color-primary-dark: #31261a;
    --color-brand-dark: #465929;
    --color-brand-line: #cfcfbc;
    --color-secondary-line: #a28268;
}
