.link {
    color: var(--color-primary-ligth);
    text-decoration: none;
    line-height: 1.5;
    transition: color 0.3s;
}

.link:hover {
    color: var(--color-brand);
    /* font-weight: 600; */
}
